* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #292929;
}

::-webkit-scrollbar-thumb {
    background: #161616;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

body {
    background-color: #292929;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    height: 8vh;
    background-color: #C51515;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    font-size: 32px;
}

#homeBtn {
    text-decoration: none;
    color: honeydew;
    transition: 0.3s;
    position: absolute;
}

#homeBtn:hover {
    scale: 1.1;
}

#denunciarBtn {
    color: honeydew;
    font-size: 16px;
    margin-left: 90%;
}

#denunciarBtn:hover {
    text-decoration: underline;
    opacity: 0.9;
}

.imagem {
    margin-top: 3rem;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px 30px 0 0;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.descricao {
    width: 60%;
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: center;
    background-color: #C51515;
    border-radius: 0 0 30px 30px;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.carrossel {
    margin-top: 3rem;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrossel .slide{
    width: 60%;
    height: 700px;
}

.slide img{
    width: 100%;
    height: 100%;
}

#prevButton {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 30px;
    border: none;
    color: honeydew;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

#nextButton {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 30px;
    border: none;
    color: honeydew;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

#prevButton:hover, #nextButton:hover {
    scale: 1.1;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}


.icon {
    color: honeydew;
    margin: 0 2rem 0 2rem;
    transition: 0.3s;
}

.icon:hover {
    opacity: 0.8;
    scale: 1.1;
    cursor: pointer;
}

.texto {
    display: flex;
    color: honeydew;
    flex-direction: column;
    text-align: center;
    width: 40%;
    font-size: 20px;
}

.texto h2 {
    margin: 2rem 0 6rem 0;
}

.texto p {
    margin-bottom: 10px;
}

#comecarBtn {
    color:#C51515;  
    text-decoration: none;
}

#comecarBtn:hover {
    cursor: pointer;
    color: #f73e3e;
    text-decoration: underline;
}

.icone span{
    background-color: #C51515;
    border-radius: 50px;
    padding: 1rem;
}

.icone {
    display: flex;
    position: fixed;
    bottom: 2rem;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

footer {
    box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #C51515;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fa-brands {
    color: #fff;
    font-size: 1.2rem;
    border: 2px solid #fff;
    padding: 0.6rem;
    border-radius: 100%;
    transition: 0.3s
}

.fa-brands:hover {
    background-color: #fff;
    color: #24202B;
    cursor: pointer;
    scale: 1.2;
}